body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  background-color: #F31559;
}
.main {
  flex: 1;
  background-color: #FF52A2;
}

h1 {
  font-size: 5rem;
  font-family: "https://fonts.googleapis.com";
  text-align: center;
}
.sub-title{
  font-family: Luminari;
  background-color:darkorange;
  text-align: center;
}
footer {
  text-align: right;
  color: midnightblue;
  background-color:darkorange;
}
.card-title{
  font-weight: 200px;
  font-family: "Brush Script MT";
}
.left-card{
  background-color: #FFECAF;
  float: left;
  width: 100%;
  display: block;
  margin-bottom: 30px;
  text-align: justify;
  
}

.right-card{
  background-color: #FFECAF;
  float: right;
  width: 100%;
  display: block;
  margin-bottom: 30px;
  text-align: justify;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
  width: 250px;
}
@media (min-width: 319px) and (max-width: 680px) {
  .logo {
    width: 100px;
  }
}